    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="adresse">Adresse</label>
                {{ form_row(form.adresse) }}
            </div>
        </div>

        <div class="col-sm-6 mt-5">
            <div class="form-group">
                <label for="region">Region</label>
                {{ form_row(form.region) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="ville">Ville</label>
                {{ form_row(form.ville) }}
            </div>
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label for="region">Telephone</label>
                {{ form_row(form.numTel) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="region">Description</label>
                {{ form_row(form.description) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="libelle">Libelle</label>
                {{ form_row(form.libelle) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="nbEtoiles">Etoile(s)</label>
                {{ form_row(form.nbEtoiles) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="latitude">Latitude</label>
                {{ form_row(form.lat) }}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="longitude">Longitude</label>
                {{ form_row(form.lon) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}




