<div class="package-wrap">
    <figure class="feature-image">
        <a href="#">
            <img src="{{ vich_uploader_asset(hotel) }}" alt="" height="305" width="365">
        </a>
    </figure>
    <div class="package-content-wrap">
        <div class="package-meta text-center">
            <ul>
                <li>
                    <i class="far fa-clock"></i>
                    7D/6N
                </li>
                <li>
                    <i class="fas fa-user-friends"></i>
                    People: 5
                </li>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    {{ hotel.region }}
                </li>
            </ul>
        </div>
        <div class="package-content">
            <h3>
                <a href="#">{{ hotel.libelle }}</a>
            </h3>
            <div class="review-area">
                <span class="review-text">(25 reviews)</span>
                <div class="rating-start" title="Rated 5 out of 5">
                    <span style="width: 60%"></span>
                </div>
            </div>
            <p>{{ hotel.description }}.</p>
            <div class="btn-wrap">
                <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}" class="button-text width-6">Book Now<i class="fas fa-arrow-right"></i></a>
                <a href="{{ path('app_hotel_like', {'id': hotel.id}) }}" class="button-text width-6">Like<i class="far fa-heart"></i></a>
            </div>
        </div>
    </div>
</div>
