{% extends 'base_admin.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}

    <div class="db-info-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="dashboard-box table-opp-color-box">
                    {% include "partials/_flush_messages.html.twig" %}

                    <h3>Liste d'hotels</h3>
                <a href="{{ path('app_hotel_new') }}">Create new</a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Adresse</th>
                                <th>Ville</th>
                                <th>Region</th>
                                <th>NumTel</th>
                                <th>Description</th>
                                <th>Libelle</th>
                                <th>NbEtoiles</th>
                                <th>Image</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hotel in hotels %}
                                <tr scope="row">
                                    <td>{{ hotel.adresse }}</td>
                                    <td>{{ hotel.ville }}</td>
                                    <td>{{ hotel.region }}</td>
                                    <td>{{ hotel.numTel }}</td>
                                    <td>{{ hotel.description }}</td>
                                    <td>{{ hotel.libelle }}</td>
                                    <td>{{ hotel.nbEtoiles }}</td>
                                    <td><img src="{{ vich_uploader_asset(hotel) | imagine_filter('squared_thumbnail_small')}}" alt="{{ hotel.libelle }}" class="card-img-top"></td>
                                    <td>
                                        <div>
                                            <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">
                                                <i class="far fa-edit"></i>
                                            </a> |
                                            <a href="{{ path('app_chambre_new', {'id': hotel.id}) }}">
                                                <i class="far fa-eye"></i>
                                            </a> |
                                            <a href="{{ path('app_hotel_delete', {'id': hotel.id}) }}">
                                                {{ include('hotel/_delete_form.html.twig') }}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr scope="row">
                                    <td colspan="10">no hotels found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}