{% extends 'base.html.twig' %}

{% block title "Hotels"%}

{% block body %}
    <section id="gallery">
        <h1 class="mt-5 mb-3 text-center" style="color: #45ccb8">All hotels</h1>
        <div class="container">
            {% for row in hotels|batch(6) %}
                <div class="row mb-5">
                    {% for hotel in hotels %}
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="{{ vich_uploader_asset(hotel) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ hotel.libelle }}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">{{ hotel.description }}</p>
                                    <a href="{{ path('app_hotel_show', {id: hotel.id}) }}" class="btn btn-outline-success btn-sm">Voir</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    {{ knp_pagination_render(hotels) }}


{% endblock %}