{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Region</th>
                <th>NumTel</th>
                <th>Description</th>
                <th>Libelle</th>
                <th>NbEtoiles</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.adresse }}</td>
                <td>{{ hotel.ville }}</td>
                <td>{{ hotel.region }}</td>
                <td>{{ hotel.numTel }}</td>
                <td>{{ hotel.description }}</td>
                <td>{{ hotel.libelle }}</td>
                <td>{{ hotel.nbEtoiles }}</td>
                <td>{{ hotel.image }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_new') }}">Create new</a>
{% endblock %}
