{% extends 'base.html.twig' %}

{% block title %}Account Tfarhida!{% endblock %}

{% block body %}
    {{ include("partials/header.html.twig") }}

    {% block stylesheets %}
        <style> .flash-notice { color: red } </style>
    {% endblock %}


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">

                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item">

                                <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard"
                                   role="tab" aria-controls="dashboard" aria-selected="false"><i
                                            class="ti-layout-grid2"></i>Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab"
                                   aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>My
                                    Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail"
                                   role="tab" aria-controls="account-detail" aria-selected="true"><i
                                            class="ti-id-badge"></i>Account details</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('passwordReset') }}" class="nav-link">changer mot de passe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}"><i class="ti-lock"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">


                    {% for message in app.flashes('success') %}

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}


                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Hello {{ app.user.nom | upper }} {{ app.user.prenom | upper }}</h3>
                                </div>
                                <div class="card-body">

                                    <p>From your account dashboard. you can easily check &amp; view your <a
                                                href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent
                                            orders</a>, manage your <a href="javascript:void(0);"
                                                                       onclick="$('#address-tab').trigger('click')">shipping
                                            and billing addresses</a> and <a href="javascript:void(0);"
                                                                             onclick="$('#account-detail-tab').trigger('click')">edit
                                            your password and account details.</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>chnger Mot de passe</h3>
                                </div>
                                <div class="card-body">


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="" class="btn btn-fill-out mb-3">Add new address</a>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-lg-6">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3> Your Address # 1 </h3>
                                        </div>
                                        <div class="card-body">
                                            <address> firstname lastname<br>
                                                25 Rue symfony <br>
                                                App n°10 <br>
                                                Paris <br>
                                                75000<br>
                                                France

                                            </address>
                                            <div class="btn-group">
                                                <a href="" class="btn btn-success">Edit</a>
                                                <a href="" class="btn btn-success">Delete</a>

                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-detail" role="tabpanel"
                             aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Account Details</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post" name="enq">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="list-img"><img style="  border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 150px;" src="{{ asset('images/' ~ app.user.image) }}" alt=""> </span>

                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Votre nom <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.nom }}" class="form-control"
                                                       name="name" type="text" readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Votre prenom <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.prenom }}" class="form-control"
                                                       name="prenom" readonly>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Numero du telephone <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.NumTel }}" class="form-control"
                                                       name="phone" readonly>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Email Address <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.email }}" class="form-control"
                                                       name="email" type="email" readonly>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Carte d identite <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.cin }}" class="form-control"
                                                       name="cin" readonly>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Adresse <span class="required">*</span></label>
                                                <input required="" value="{{ app.user.adresse }}" class="form-control"
                                                       name="cin" readonly>
                                            </div>


                                            <div class="col-md-12">
                                                <a class="btn btn-primary"
                                                   href="{{ path('clientupdate',{'id':app.user.id}) }}"
                                                >update
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
