{% extends 'base_admin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}




    <div id="page" class="full-page">
        <div class="login-page" style="background-image: url(assetsadmin/images/bg.jpg);">
            <div class="login-from-wrap">
                <div class="login-from">
                    <h1 class="site-title">
                        <a href="#">
                            <img src="/assetsadmin/images/logo.png" alt="">
                        </a>
                    </h1>
                    <div class="message-flash">
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                    </div>
                    {{ form_start(registrationForm,{'attr':{'novalidate':'novalidate'  }}) }}


                    <div class="form-group">
                        {{ form_row(registrationForm.login) }}
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">  {{ form_row(registrationForm.nom) }}</div>
                        <div class="col-md-6"> {{ form_row(registrationForm.prenom) }}</div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">  {{ form_row(registrationForm.num_tel) }}</div>
                        <div class="col-md-6"> {{ form_row(registrationForm.cin) }}</div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">  {{ form_row(registrationForm.adresse) }}</div>
                        <div class="col-md-6">  {{ form_row(registrationForm.image) }}</div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">    {{ form_row(registrationForm.email) }}</div>
                        <div class="col-md-6">    {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}</div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" name="register">Register
                        </button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>

    </div>









{% endblock %}


{#
{{ include("partials/title_section.html.twig",{'name':'register'}) }}
   <div class="login_register_wrap section">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-xl-6 col-md-10">
                   <div class="login_wrap">
                       <div class="padding_eight_all bg-white">
                           <div class="heading_s1">
                               <h3>Create an Account</h3>
                           </div>
                           <div class="message-flash">
                               {% for flash_error in app.flashes('verify_email_error') %}
                                   <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                               {% endfor %}
                           </div>
                           {{ form_start(registrationForm,{'attr':{'novalidate':'novalidate'  }}) }}
                           <div class="form-group">
                               {{ form_row(registrationForm.login) }}
                           </div>
                           <div class="form-row">
                               <div class="col-md-6">  {{ form_row(registrationForm.nom) }}</div>
                               <div class="col-md-6"> {{ form_row(registrationForm.prenom) }}</div>
                           </div>

                           <div class="form-group">
                               {{ form_row(registrationForm.num_tel) }}
                           </div>
                           <div class="form-group">
                               {{ form_row(registrationForm.cin) }}
                           </div>
                           <div class="form-group">
                               {{ form_row(registrationForm.adresse) }}
                           </div>
                           <div class="form-group">
                               {{ form_row(registrationForm.image) }}
                           </div>


                           <div class="form-group">
                               {{ form_row(registrationForm.email) }}
                           </div>
                           <div class="form-group">
                               {{ form_row(registrationForm.plainPassword, {
                                   label: 'Password'
                               }) }}
                           </div>

                           <div class="form-group">


                               {{ form_row(registrationForm.agreeTerms) }}
                               <a href="{{ path('cgu_conditions') }}" target="_blank"> Read conditions</a>

                           </div>
                           <div class="form-group">
                               <button type="submit" class="btn btn-fill-out btn-block" name="register">Register
                               </button>
                           </div>
                           {{ form_end(registrationForm) }}
                           <div class="different_login">
                               <span> or</span>
                           </div>
                           <ul class="btn-login list_none text-center">
                               <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a>
                               </li>
                               <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a>
                               </li>
                           </ul>
                           <div class="form-note text-center">Already have an account? <a
                                       href="{{ path('app_login') }}">Log in</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
#}

{#
<p>++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>


    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.login) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.num_tel) }}
    {{ form_row(registrationForm.cin) }}
    {{ form_row(registrationForm.adresse) }}
    {{ form_row(registrationForm.image) }}
    {{ form_row(registrationForm.description) }}
    {{ form_row(registrationForm.etat) }}
    {{ form_row(registrationForm.account_date) }}

    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}


