<header id="masthead" class="site-header header-primary">
    <!-- header html start -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="header-contact-info">
                        <ul>
                            <li>
                                <a href="#"><i class="fas fa-phone-alt"></i> +216 (56) 353 474</a>
                            </li>
                            <li>
                                <a href="mailto:info@Travel.com"><i class="fas fa-envelope"></i> tfarhida@gmail.com</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> 3146 Ariana Ghazala, Tunisia
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
                    <div class="header-social social-links">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="header-search-icon">
                        <button class="search-icon">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="site-identity">
                <h1 class="site-title">
                    <a href={{ path('app_home') }}>
                        <img src="/assets/images/logo.png" alt="logo">
                    </a>
                </h1>
            </div>
            <div class="main-navigation d-none d-lg-block">
                <nav id="navigation" class="navigation">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="{{ path('app_hotels') }}">Hotels</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a  href={{ path('app_houses') }}>Houses</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href={{ path('app_cars') }}>Cars</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href={{ path('app_events') }}>Events</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Dashboard</a>
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href={{ path('app_reservation_get_client',{'type':'all','id_user':36}) }}>My Reservations</a>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">User</a>
                                    <ul>
                                        <li>
                                            <a href="admin/user-edit.html">Edit Profile</a>
                                        </li>
                                        <li>
                                            <a href="admin/user-edit.html">Log out</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href={{ path('app_admin_reservations_hotels') }}>Admin</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-btn">
                <a href="#" class="button-primary">BOOK NOW</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu-container"></div>
</header>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <!-- Inner Banner html end-->

</main>

<!-- header html end -->
</div>