<div class="dashboard-navigation">
    <!-- Responsive Navigation Trigger -->
    <div id="dashboard-Navigation" class="slick-nav"></div>
    <div id="navigation" class="navigation-container">
        <ul>
            <li class="active-menu"><a href="dashboard.html"><i class="far fa-chart-bar"></i> Dashboard</a></li>
            <li><a><i class="fas fa-user"></i>Users</a>
                <ul>
                    <li>
                        <a href="">User</a>
                    </li>
                    <li>
                        <a href="" >User edit</a>
                    </li>
                    <li>
                        <a href="">New user</a>
                    </li>
                </ul>
            </li>
            <li>
                <a ><i class="fas fa-umbrella-beach"></i>Accommodation</a>
                <ul>
                    <li><a href="">Hotels</a></li>
                    <li><a href="">Houses</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fas fa-hotel"></i></i>Reservations</a>
                <ul>
                    <li><a href={{ path('app_admin_reservations_hotels') }}>Hotels</a></li>
                    <li><a href={{ path('app_admin_reservations_houses') }}>Houses</a></li>
                    <li><a href={{ path('app_admin_reservations_cars') }}>Cars</a></li>
                    <li><a href={{ path('app_admin_reservations_events') }}>Events</a></li>
                </ul>
            </li>
            <li><a href="db-booking.html"><i class="fas fa-ticket-alt"></i> Car</a></li>
            <li><a href="db-booking.html"><i class="far fa-heart"></i>Event</a></li>
            <li><a href="db-booking.html"><i class="fas fa-ticket-alt"></i> Blog</a></li>

            <li><a href={{ path('app_home') }}><i class="fas fa-sign-out-alt"></i> Log out</a></li>
        </ul>
    </div>
</div>