{% extends 'base_admin.html.twig' %}

{% block title %}Account Tfarhida!{% endblock %}

{% block body %}
    {% include "partials/header_agencier.html.twig" %}
    {% include "partials/navigation_panel_agencier.html.twig" %}
{% block stylesheets %}
    <style> .flash-notice { color: red } </style>
{% endblock %}


<div class="db-info-wrap">
    <div class="row">
        <div class="col-lg-12">
            {% for message in app.flashes('success') %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="dashboard-box user-form-wrap">
                <h4>CHangement du mot de passe</h4>
                <div class="form-horizontal">
                    {{ form_start(form,{'attr':{'novalidate':'novalidate'  }}) }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.oldPassword) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.plainPassword) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
