{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

<div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
    <span class="sr-only">Loading...</span>
</div>

{{ form_row(form.q) }}

<h4>Region</h4>
<div class="row">
{{ form_row(form.reg) }}
</div>


<h4>Prix</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.min) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.max) }}
    </div>
</div>

<div id="prix-slider" data-min="{{ min }}" data-max="{{ max }}" class="mt-4 mb-4 ml-2"></div>

<h4>Capacite</h4>
<div class="row">
    {{ form_row(form.capacite) }}
</div>

<h4>Nombre de chambre</h4>
<div class="row mb-4">
    {{ form_row(form.nbChambre) }}
</div>

<div class="row">
    <div class="col">
        <h4>Maison d'accueil </h4>
    </div>
    <div class="col-md-4">
        {{ form_row(form.maisonAc) }}
    </div>
</div>


<button type="submit" class="btn btn-primary w-100 mt-2">Filtrer</button>

{{ form_end(form) }}