{% extends 'base.html.twig' %}

{% block title "Maisons"%}

{% block body %}
    <section id="gallery">
        <h1 class="mt-5 mb-3 text-center" style="color: #45ccb8">All maisons</h1>
        <div class="container">
            {% for row in maisons|batch(6) %}
                <div class="row mb-5">
                    {% for maison in maisons %}
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="{{ vich_uploader_asset(maison) }}" alt="{{ maison.adresse }}" class="card-img-top" width="307" height="240">
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">{{ maison.description }}</p>
                                    <a href="{{ path('app_maison_show', {id: maison.id}) }}" class="btn btn-outline-success btn-sm">voir</a>
                                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    {{ knp_pagination_render(maisons) }}


{% endblock %}