{% extends 'base.html.twig' %}

{% block title %}Chambre index{% endblock %}

{% block body %}
    <h1>Chambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Disponnibiliter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.idHotel.libelle }}</td>
                <td>{{ chambre.type }}</td>
                <td>{{ chambre.prix }}</td>
                <td>{{ chambre.disponnibiliter }}</td>
                <td>
                    <a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
