{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <a href="{{ path('app_topic_new') }}">Create new</a>
    <h1>Liste de Topics</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Titretopic</th>
                <th>Description</th>
                <th>Date</th>

                <th>Nbsujet</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>

                <td> <a href="{{ path('app_topic_show', {'idtopic': topic.idtopic}) }}">{{ topic.titretopic }}</a></td>
                <td>{{ topic.description }}</td>
                <td>{{ topic.date ? topic.date|date('Y-m-d') : '' }}</td>

                <td>{{ topic.nbsujet }}</td>

                <td>

                    <a href="{{ path('app_topic_edit', {'idtopic': topic.idtopic,'user': 33}) }}">edit</a>

                </td>
                <td>
                    {{ include('topic/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
