{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <a href="{{ path('app_topic_index') }}">back to list</a>
    <h1>Detail Topic : </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titretopic :</th>
                <td>{{ topic.titretopic }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ topic.description }}</td>
            </tr>
            <tr>
                <th>Date :</th>
                <td>{{ topic.date ? topic.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbsujet :</th>
                <td>{{ topic.nbsujet }} </td>
            </tr>
        </tbody>
    </table>





{% endblock %}
