{% extends 'base.html.twig' %}

{% block title %}Sujet{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary" href="{{ path('app_sujet_index', {'idtopic': topic.idtopic,'idsujet': sujet.idsujet}) }}">back to list</a>
    <h1>Sujet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titresujet</th>
                <td>{{ sujet.titresujet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ sujet.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sujet.date ? sujet.date|date('Y-m-d') : '' }}</td>
            </tr>

            <tr>
                <th>Nombre de commentaire :</th>
                <td>{{ sujet.nbcom }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
