{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Marque</th>
                <th>Couleur</th>
                <th>Capacite</th>
                <th>Description</th>
                <th>Immat</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.model }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.couleur }}</td>
                <td>{{ voiture.capacite }}</td>
                <td>{{ voiture.description }}</td>
                <td>{{ voiture.immat }}</td>
                <td>{{ voiture.prix }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'id': voiture.id}) }}">show</a>
                    <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Create new</a>
{% endblock %}
