{% extends 'base_admin.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}

    <div class="db-info-wrap">

        <div class="row">
            <div class="col-lg-12">
                <div class="dashboard-box table-opp-color-box">
                    {{ include('partials/_flush_message.html.twig') }}
                    <h1> liste des voitures</h1>

                    <a href="{{ path('app_voiture_new') }}">ajouter voiture</a>
                    <div class="table-responsive">


                        <table class="table">
                            <thead>
                                <tr>

                                    <th>Model</th>
                                    <th>Marque</th>
                                    <th>Couleur</th>
                                    <th>Capacite</th>
                                    <th>Description</th>
                                    <th>Immat</th>
                                    <th>Prix</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for voiture in voitures %}
                                <tr>

                                    <td>{{ voiture.model }}</td>
                                    <td>{{ voiture.marque }}</td>
                                    <td>{{ voiture.couleur }}</td>
                                    <td>{{ voiture.capacite }}</td>
                                    <td>{{ voiture.description }}</td>
                                    <td>{{ voiture.immat }}</td>
                                    <td>{{ voiture.prix }}</td>
                                    <td>
                                        <a href="{{ path('app_voiture_show', {'id': voiture.id}) }}">afficher</a>
                                        <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
