{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1>Voiture</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Model</th>
                <td>{{ voiture.model }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ voiture.couleur }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ voiture.capacite }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.description }}</td>
            </tr>
            <tr>
                <th>Immat</th>
                <td>{{ voiture.immat }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voiture_index') }}">retour</a>

    <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">modifier</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
