{% extends "base.html.twig" %}

{% block header %}
    {% include "partials/navbar1.html.twig" %}
{% endblock %}

{% block body %}
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="../../assets/images/loader1.gif" alt="">
        </div>
    </div>
    <div id="page" class="full-page">

        <main id="content" class="site-main">

            <div class="step-section booking-section">
                <div class="container">
                    <div class="step-link-wrap">
                        <div class="step-item active">
                            Your cart
                            <a href="#" class="step-icon"></a>
                        </div>
                        <div class="step-item active">
                            Your Details
                            <a href="#" class="step-icon"></a>
                        </div>
                        <div class="step-item">
                            Finish
                            <a href="#" class="step-icon"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 right-sidebar">
                            <!-- step one form html start -->
                            {{ form_start(form,{'attr':{'novalidate':'novalidate'  }}) }}
                            <div class="booking-form-wrap">
                                <div class="booking-content">
                                    <div class="form-title">
                                        <span>1</span>
                                        <h3>Your Details</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>First name*</label>
                                                <input type="text" class="form-control" name="firstname_booking" value="{{ user.nom }}" disabled >
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Last name*</label>
                                                <input type="text" class="form-control" name="lastname_booking" value="{{ user.prenom }}" disabled >
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email*</label>
                                                <input type="email" class="form-control" name="email_booking" value="{{ user.email }}" disabled>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Phone*</label>
                                                <input type="text" class="form-control" name="lastname_booking" value="{{ user.numTel }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-content">
                                    <div class="form-title">
                                        <span>2</span>
                                        <h3>Payment Information</h3>
                                    </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Name on card*</label>
                                                    {{ form_widget(form.nomCarte) }}
                                                </div>
                                                <div class="form-error">
                                                    {{ form_errors(form.nomCarte) }}
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Card number*</label>
                                                            {{ form_widget(form.numeroCarte) }}

                                                        </div>
                                                        <div class="form-error">
                                                            {{ form_errors(form.numeroCarte) }}
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <img src="../../assets/images/cards.png" alt="Cards">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Expiration date*</label>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    {{ form_widget(form.expMois) }}
                                                                </div>
                                                                <div class="form-error">
                                                                    {{ form_errors(form.expMois) }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    {{ form_widget(form.expAnnee) }}
                                                                </div>
                                                                <div class="form-error">
                                                                    {{ form_errors(form.expAnnee) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Security code*</label>
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <div class="form-group">
                                                                        {{ form_widget(form.cvc) }}
                                                                    </div>
                                                                    <div class="form-error">
                                                                        {{ form_errors(form.cvc) }}
                                                                    </div>
                                                                </div>
                                                                <div class="col-8">
                                                                    <img src="../../assets/images/icon_ccv.gif" alt="ccv"><small>Last 3 digits</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    <div class="info-content">
                                        <h4>Or checkout with Paypal</h4>
                                        <p>Lorem ipsum dolor sit amet, vim id accusata sensibus, id ridens quaeque qui. Ne qui vocent ornatus molestie, reque fierent dissentiunt mel ea.</p>
                                        <a href="#">
                                            <img src="../../assets/images/paypal_bt.png" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="form-policy">
                                    <h3>Cancellation policy</h3>
                                    <div class="form-group">
                                        <label class="checkbox-list">
                                            <input type="checkbox" name="s">
                                            <span class="custom-checkbox"></span>
                                            I accept terms and conditions and general policy.
                                        </label>
                                    </div>
                                    <button type="submit" class="button-primary" formnovalidate>Book Now</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- step one form html end -->
                        </div>
                        <div class="col-lg-4">
                            <aside class="sidebar">
                                <div class="widget-bg widget-table-summary">
                                    <h4 class="bg-title">Summary</h4>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong> Booking cost </strong>
                                            </td>
                                            <td class="text-right">
                                                {{ format_to_currency(total) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong> Advance rate </strong>
                                            </td>
                                            <td class="text-right">
                                                {{ taux_avance }} %
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <strong>tax</strong>
                                            </td>
                                            <td class="text-right">
                                                0%
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <td>
                                                <strong>Total cost</strong>
                                            </td>
                                            <td class="text-right">
                                                <strong> {{ format_to_currency(montant_avance) }}</strong>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="widget-bg widget-support-wrap">
                                    <div class="icon">
                                        <i class="fas fa-phone-volume"></i>
                                    </div>
                                    <div class="support-content">
                                        <h5>HELP AND SUPPORT</h5>
                                        <a clas.s="phone">+56 353 474</a>
                                        <small>Monday to Friday 9.00am - 7.30pm</small>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- custom search field html -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get" >
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- header html end -->
    </div>

    <script>


        $(document).ready(function(){
            $("#expAnnee").on("keypress", function() {
                document.getElementById('expAnnee').value = new Date().getFullYear();
            });
            $("#expAnnee").on("keypress", function() {
                year=new Date().getFullYear();
                month=new Date().getMonth()+1;
                if(year==(document.getElementById('expAnnee').value)){
                    console.log("im here")
                    document.getElementById('expMois').value=""
                    document.getElementById('expMois').min=month;
                }else{
                    document.getElementById('expMois').min=1;
                }
            });


            $(".text_input").on("keypress", function() {
                return /[a-z]/i.test(event.key);
            });
            $(".number_input").on("keypress", function() {
                return /^\d*$/i.test(event.key);
            });
            $(".month_input").on("keypress", function() {
                return /^\d*$/i.test(event.key);
            });
            $("[type='number']").keypress(function (evt) {
                evt.preventDefault();
            });



        });


    </script>

{% endblock %}